<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>849826548503-h11adng9hdsr4tcmhk7o6u1am1819f09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849826548503-h11adng9hdsr4tcmhk7o6u1am1819f09</string>
	<key>API_KEY</key>
	<string>AIzaSyCC6KIdbECGkrJT6ggZsRp3KD8YM5JK-tU</string>
	<key>GCM_SENDER_ID</key>
	<string>849826548503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.payasyoudrive.miituo</string>
	<key>PROJECT_ID</key>
	<string>miituo-app-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>miituo-app-mvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:849826548503:ios:ba8fc2ae53baf3a4</string>
	<key>DATABASE_URL</key>
	<string>https://miituo-app-mvp.firebaseio.com</string>
</dict>
</plist>